<%- include('../partials/head'); %>
<link rel="stylesheet" href="css/form_inventario.css">
<link rel="stylesheet" href="css/style.input.css">
<body>
    <div class="container">
        <div class="content-header">
            <div class="limiter-width-page">
                <div class="header-page">
                    <div class="header-logo"></div>
                    <div class="empresa-nombre"></div>
                    <div class="right-logo"></div>
                </div>
            </div>
            <header>
                <nav id="menu">
                    <ul>
                        <li>
                            <a href="#" class="bt-close"><span class="icon-cross"></span></a>
                        </li>
                        <li>
                            <a href="/admin">Inicio</a>
                        </li>
                        <li>
                            <a href="/admin/usuarios">Usuarios</a>
                        </li>
                        <li>
                            <a href="/UnidadesProductivas">Unidades Productivas</a>
                        </li>
                        <li>
                            <a href="/inventario">Inventario</a>
                        </li>
                        <li>
                            <a href="/productos">Productos</a>
                        </li>
                        <li>
                            <a href="/puntoventa">Punto de Venta</a>
                        </li>
                        <li>
                            <a href="/">Cerrar Sesión</a>
                        </li>
                    </ul>
                </nav>
                <div class="menu-visible">
                    <div class="menu_bar open-close">
                        <a href="#e" class="bt-menu" id="btn-menu">
                            <div class="icon-align"><span class="icon-menu"></span></div>
                        </a>
                    </div>
                </div>
            </header>
        </div>
        <div class="separator"></div>
        <section class="body-info-section">
            <div class="content-secton-info">
                <div class="full-container">
                    <div class="breadcrumb">
                        <a href="store" class="go-home">Volver al inicio</a>  | <a href="inventario">Inventario</a> > <a href="#">Registrar Inventario</a>
                    </div>
                        <h1 class="h-title">Registrar Inventario</h1>
                        <form action="#" method="post" class="content_form_inventario">
                            <div class="content_data inventStock">
                                <div class="input-data">
                                  <input type="number" id="inventStock" name="nombres" size="40" maxlength="50" required="">
                                    <div class="underline">
                                    </div>
                                  <label>Stock</label>
                                </div>
                            </div>
                            <label class="label_producto">Producto</label>
                            <div class="content_data content_producto design-1">
                                <select id="fkproducto" class="form-control">
                                    <option selected disabled >Seleccionar...</option>
                                    <option>Yogurth</option>
                                    <option>Avena</option>
                                </select>
                            </div>
                            <label class="label_puntventa">Punto de Venta</label>
                            <div class="content_data content_puntventa design-1">
                                <select id="fkpuntventa" class="form-control">
                                    <option selected disabled >Seleccionar...</option>
                                    <option>Yogurts del Norte</option>
                                    <option>Pescados del Sena</option>
                                </select>
                            </div>
                            <button type="button" class="boton_registro" onclick="RegistrarUnidad();">Registrar</button>
                        </form>
                    </div>
                </div> 
            </div>
        </section>
    </div>
<%- include('../partials/footer-admin'); %>
<script src="js/capturador.inventario.js"></script>