<link rel="stylesheet" href="css/tabla_lista.css"><%- include('../partials/head'); %>
<body>
    <div class="container">
        <div class="content-header">
            <div class="limiter-width-page">
                <div class="header-page">
                    <div class="header-logo"></div>
                    <div class="empresa-nombre"></div>
                    <div class="right-logo"></div>
                </div>
            </div>
            <header>
                <nav id="menu">
                    <ul>
                        <li>
                            <a href="#" class="bt-close"><span class="icon-cross"></span></a>
                        </li>
                        <li>
                            <a href="/admin">Inicio</a>
                        </li>
                        <li>
                            <a href="/admin/usuarios">Usuarios</a>
                        </li>
                        <li>
                            <a href="/UnidadesProductivas">Unidades Productivas</a>
                        </li>
                        <li>
                            <a href="/inventario">Inventario</a>
                        </li>
                        <li>
                            <a href="/productos">Productos</a>
                        </li>
                        <li>
                            <a href="/puntoventa">Punto de Venta</a>
                        </li>
                        <li>
                            <a href="/">Cerrar Sesión</a>
                        </li>
                    </ul>
                </nav>
                <div class="menu-visible">
                    <div class="menu_bar open-close">
                        <a href="#e" class="bt-menu" id="btn-menu">
                            <div class="icon-align"><span class="icon-menu"></span></div>
                        </a>
                    </div>
                </div>
            </header>
        </div>
        <div class="separator"></div>
        <section class="body-info-section">
            <div class="content-secton-info">
                <div class="full-container">
                    <div class="breadcrumb">
                        <a href="store" class="go-home">Volver al inicio</a>  | <a href="UnidadesProductivas">Unidades Productivas</a> > <a href="#">Lista Unidades Productivas</a>
                    </div>
                        <h1 class="h-title">Lista de Unidades Productivas</h1>
                        <div class="table-admin mt-1">
                            <table class="table-info">
                                <thead>
                                    <th>Id Unidad Productiva</th>
                                    <th>Nombre Unidad Productiva</th>
                                    <th>Logo</th>
                                    <th>Descripcion</th>
                                    <th>Sede</th>
                                    <th>Persona Encargada</th>
                                    <th>Admin</th>
                                </thead>
                                <tbody>
                                    <!-- <%
                                    for(var i=0;i<date.length;i++){%> -->
                                        <tr>
                                            <td >#</td>
                                            <td >#</td>
                                            <td ><img src="img/products/product.jpg" alt="" width="50px"></td>
                                            <td >#</td>
                                            <td >#</td>
                                            <td >#</td>
                                            <td>
                                                <a class="btn-edit" href="#">Editar</a>
                                                <a href="#" class="btn-delete">Eliminar</a>
                                            </td>
                                        </tr>
                                    <!-- <% }%> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
    </div>
<%- include('../partials/footer-admin'); %>
