<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>SENA</title>
        <link rel="stylesheet" href="css/modulo-movimientos.css">
        <link rel="stylesheet" href="css/datatables.min.css">
        <link rel="stylesheet" href="css/responsive.dataTables.min.css">

</head>

<body>
    <div class="content-header">
        <%- include('../partials/header-admin') %>
    </div>
    <div class="main-contenedor">
        <div class="box">
            <div class="head-table">
                <h2>Ventas y Reservas</h2><button class="btn btn-primary" id="btn" onclick="nuevaVenta()">Nueva Venta</button>
            </div>


            <div>
                <table id="tableMovimientos" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="col-id">ID Compra</th>
                            <th scope="col">Comprador</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Valor de la Compra</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody id="cuerpo-tabla">

                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalFacturar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Facturar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/genFactura" method="post" class="row g-3 needs-validation">
                            <div class="col-md-12">
                                <table id="tableFacturar" class="display">
                                    <thead>
                                        <tr>
                                            <th>ID. Prod</th>
                                            <th>Nombre del Producto</th>
                                            <th>Cantidad</th>
                                            <th>Valor Unit.</th>
                                            <th>Valor Total</th>
                                            <th>Estado de Entrega</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>0001</td>
                                            <td>Papa Economica</td>
                                            <td>25</td>
                                            <td>$5000</td>
                                            <td>$250000</td>
                                            <td>No entregado</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="registrarUsuario();">Registrar</button>
                        <button type="button" class="btn btn-primary" onclick="actualizarUser();">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>


        <!---Modal detalle-->
        <div class="modal fade" id="modalDetalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content detalle-Modal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detalle de Esta Reserva</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="#" method="post" class="row g-3 needs-validation">
                            <div class="col-md-12" id="contDet">
                                <table id="cuerpo-tabla-detalle" class="table table-striped">

                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre del Producto</th>
                                            <th>Cantidad</th>
                                            <th>Valor Unit.</th>
                                            <th>Valor Total</th>
                                            <th>Estado de Entrega</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cuerpo-detalle">

                                    </tbody>
                                </table>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="actualizarUser();">Facturar</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modalNewVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-xxl-down">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="numVenta">Venta Numero: </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body modal-cart">

                        <div class="table-cart">
                            <input type="button" class="btn btn-primary btnadd" onclick="addProdVen();" value="Agregar Productos">

                            <table id="tableCart" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID. Prod</th>
                                        <th>Nombre del Producto</th>
                                        <th>Cantidad</th>
                                        <th>Valor Unit.</th>
                                        <th>Valor Total</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="cont-cart">
                            <div class="form-buy row g-3">
                                <h1>Formulario de Venta</h1>

                                <div class="col-md-10">
                                    <input type="hidden" id="tusuario">
                                    <label for="inputPIdCliente" class="form-label">Documento del Cliente</label>
                                    <input type="number" class="form-control input-style" id="inputPIdCliente">
                                </div>
                                <div class="col-md-2">
                                    <input type="button" onclick="buscarUser();" id="sbutton" value="Buscar">
                                </div>
                                <!-- filtro cliente -->
                                <div class="col-12">

                                    <label for="inputAddress" class="form-label">Nom. Cliente</label>
                                    <input class="form-control input-style" type="text" id="nombre" disabled>
                                </div>
                                <div class="col-6" id="regUserDiv">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary btnreg" value="Registrar">
                    </div>


                </div>
            </div>
        </div>


        <div class="modal fade modal-dark" id="modalAddProd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agrega Productos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-prods">
                            <table id="tableAddProd" class="display dt-table-cart">
                                <thead>
                                    <tr>
                                        <th>ID. Prod</th>
                                        <th>Nombre del Producto</th>
                                        <th>Valor Unit.</th>
                                        <th>Stock</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="add-prod">
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary btndone" onclick="" value="Hecho">
                    </div>

                </div>
            </div>
        </div>



        <div class="modal fade modal-dark" id="modalProductoAgregado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar Cantidad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="precio_prod">
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary btnadd" onclick="" value="Confirmar">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-dark" id=" modalNuevoUsuario" tabindex="-1" aria-labelledby="modalNuevoUsuario" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">MODAL JHON MARIO</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary btnadd" onclick="" value="Confirmar">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
        <%- include('../partials/scripts.ejs') %>
            <script src="js/datatable/datatables.min.js"></script>
            <script src="js/movimientos.js"></script>
            <script src="js/bootstrap.min.js"></script>

</body>

</html>