<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>SENA</title>
        <link rel="stylesheet" href="css/modulo-movimientos.css">
        <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

</head>

<body>
    <div class="content-header">
        <%- include('../partials/header-admin') %>
    </div>
    <div class="main-contenedor">
        <div class="box">
            <div class="head-table">
                <h2>Ventas y Reservas</h2><input type="search" name="busquedaVenta" class="input-s" placeholder="Buscar Ventas o Reservas..." id="busquedaVenta"><button class="btn btn-primary" id="btn" onclick="nuevaVenta()">Nueva Venta</button>
            </div>


            <div>
                <table id="tableMovimientos" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="col-id">ID Compra</th>
                            <th scope="col">Comprador</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Valor de la Compra</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody id="cuerpo-tabla">

                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalFacturar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Facturar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/genFactura" method="post" class="row g-3 needs-validation">
                            <div class="col-md-12">
                                <table id="tableFacturar" class="display">
                                    <thead>
                                        <tr>
                                            <th>ID. Prod</th>
                                            <th>Nombre del Producto</th>
                                            <th>Cantidad</th>
                                            <th>Valor Unit.</th>
                                            <th>Valor Total</th>
                                            <th>Estado de Entrega</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>0001</td>
                                            <td>Papa Economica</td>
                                            <td>25</td>
                                            <td>$5000</td>
                                            <td>$250000</td>
                                            <td>No entregado</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="registrarUsuario();">Registrar</button>
                        <button type="button" class="btn btn-primary" onclick="actualizarUser();">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>


        <!---Modal detalle-->
        <div class="modal fade" id="modalDetalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content detalle-Modal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detalle de Esta Reserva</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="#" method="post" class="row g-3 needs-validation">
                            <div class="col-md-12">
                                <table id="cuerpo-tabla-detalle" class="table table-striped">

                                    <thead>
                                        <tr>
                                            <input type="text" name="idMov" id="idMov">
                                            <th>ID. Prod</th>
                                            <th>Nombre del Producto</th>
                                            <th>Cantidad</th>
                                            <th>Valor Unit.</th>
                                            <th>Valor Total</th>
                                            <th>Estado de Entrega</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cuerpo-tabla">

                                    </tbody>
                                </table>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="actualizarUser();">Hecho</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modalNewVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-xxl-down">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nueva Venta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form class="row g-3" action="/registrarVenta">
                        <div class="modal-body modal-cart">
                            <div class="table-cart">
                                <table id="tableCart" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID. Prod</th>
                                            <th>Nombre del Producto</th>
                                            <th>Cantidad</th>
                                            <th>Valor Unit.</th>
                                            <th>Valor Total</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cart-prod">

                                    </tbody>
                                </table>
                            </div>
                            <div class="cont-cart">
                                <div class="form-buy row g-3">
                                    <h1>Formulario de Venta</h1>
                                    <div class="col-md-2">
                                        <label for="inputid" class="form-label">ID</label>
                                        <input type="number" class="form-control input-style" id="inputid" disabled>
                                    </div>
                                    <div class="col-md-10">
                                        <label for="inputPIdCliente" class="form-label">Documento del CLiente</label>
                                        <input type="number" class="form-control input-style" id="inputPIdCliente">
                                    </div>
                                    <div class="col-12">
                                        <label for="inputAddress" class="form-label">Nom. Cliente</label>
                                        <input type="text" class="form-control input-style" id="inputAddress" placeholder="1234 Main St" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-primary btnadd" onclick="addProdVen();" value="Agregar Productos">
                            <input type="submit" class="btn btn-primary btnreg" value="Registrar">
                        </div>

                    </form>
                </div>
            </div>
        </div>






        <div class="modal fade modal-dark" id="modalAddProd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agrega Productos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form class="row g-3" action="/registrarVenta">
                        <div class="modal-body">
                            <div class="table-prods">
                                <table id="tableAddProd" class="display dt-table-cart">
                                    <thead>
                                        <tr>
                                            <th>ID. Prod</th>
                                            <th>Nombre del Producto</th>
                                            <th>Unidad Productiva</th>
                                            <th>Valor Unit.</th>
                                            <th>Valor Total</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="add-prod">
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-primary btnadd" onclick="addProdVen();" value="Hecho">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
        <%- include('../partials/scripts.ejs') %>
            <script src="js/movimientos.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

</body>

</html>