<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>SENA</title>
</head>
<body>
    <div class="content-header">
        <%- include('../partials/header-admin') %> 
    </div>
    <div class="container">
        <section class="body-info-section">
            <div class="contnet-section-info" style="min-height: 50vh;">
                <div class="full-container">
                    <h1 class="h-title">Perfíl de Usuario</h1>
                    <hr class="separador-text">
                    <div class="border-box pd-none">
                        <div class="title-info-row">
                            <h2>Información Personal</h2>
                        </div>
                        <div class="row-info-box cursor-none">
                            <div class="first-column">IDENTIFICACION</div>
                            <div class="last-column">1116516238</div>
                        </div>
                        <div class="row-info-box">
                            <div class="first-column">NOMBRE</div>
                            <div class="last-column">Alejandro Cubillos</div>
                        </div>
                        <div class="row-info-box">
                            <div class="first-column">CORREO</div>
                            <div class="last-column">cubillos@gmail.com</div>
                        </div>
                    </div>
                    <div class="border-box pd-none mt-2">
                        <div class="title-info-row">
                            <h2>Información del Sistema</h2>
                        </div>
                        <div class="row-info-box">
                            <div class="first-column">LOGIN</div>
                            <div class="last-column">1116912148</div>
                        </div>
                        <div class="row-info-box">
                            <div class="first-column">ROL</div>
                            <div class="last-column">Cliente</div>
                        </div>
                        <div class="row-info-box">
                            <div class="first-column">CARGO</div>
                            <div class="last-column">Aprendiz</div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../partials/footer'); %>
    <%- include('../partials/scripts.ejs') %> 
</body>
</html>
