<%- include('../partials/head-admin'); %>
<%- include('../partials/admin-header'); %>
<section class="body-info-section">
	<div class="content-secton-info" style="min-height: 50vh;">
		<div class="full-container">
			<h1 class="h-title">Panel de Administración - Reportes</h1>
			<hr class="separador-text">
            <div class="table-admin mt-1">
                <table class="table-info">
                    <thead>
                        <tr>
                            <th colspan="3">
                                <center>REPORTE TITULADOS</center> 
                            </th>
                        </tr>
                        <tr>
                            <th>FICHA</th>
                            <th>Participantes</th>
                            <th style="width: 150px;">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2252407</td>
                            <td>25</td>
                            <td>
                                <a href="#" class="btn-edit">VISUALIZAR</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2283210</td>
                            <td>8</td>
                            <td>
                                <a href="#" class="btn-edit">VISUALIZAR</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-info" style="margin-top: 50px">
                    <thead>
                        <tr>
                            <th colspan="7">
                                <center>REPORTE PERSONAS</center> 
                            </th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>Nombres</th>
                            <th>Correo</th>
                            <th>Reservas</th>
                            <th>Compras</th>
                            <th>Encargado</th>
                            <th style="width: 180px;">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Alfonso</td>
                            <td>pedro@gmail.com</td>
                            <td>5</td>
                            <td>3</td>
                            <td>Administrador</td>
                            <td>
                                <a href="#" class="btn-edit">Editar</a>
                                <a href="#" class="btn-delete">Eliminar</a>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Carolina</td>
                            <td>carolina43@gmail.com</td>
                            <td>2</td>
                            <td>5</td>
                            <td>Administrador</td>
                            <td>
                                <a href="#" class="btn-edit">Editar</a>
                                <a href="#" class="btn-delete">Eliminar</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <table class="table-info" style="margin-top: 50px">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <center>REPORTES VENTAS</center> 
                            </th>
                        </tr>
                        <tr>
                            <th>Unidad Productiva</th>
                            <th>Fecha</th>
                            <th>Encargado</th>
                            <th>Tipo</th>
                            <th style="width: 180px;">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gastronomía</td>
                            <td>27 / 03 / 2022</td>
                            <td>Pedro</td>
                            <td>Individual</td>
                            <td>
                                <a href="#" class="btn-edit">Editar</a>
                                <a href="#" class="btn-delete">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Agropecuario</td>
                            <td>31 / 03 / 2022</td>
                            <td>Luis</td>
                            <td>Individual</td>
                            <td>
                                <a href="#" class="btn-edit">Editar</a>
                                <a href="#" class="btn-delete">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-info" style="margin-top: 50px">
                    <thead>
                        <tr>
                            <th colspan="5">
                                <center>REPORTE RESERVAS</center> 
                            </th>
                        </tr>
                        <tr>
                            <th>Unidad Productiva</th>
                            <th>Fecha</th>
                            <th>Encargado</th>
                            <th>Tipo</th>
                            <th style="width: 180px;">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gastronomía</td>
                            <td>01 / 04 / 2022</td>
                            <td>Pedro</td>
                            <td>Grupal</td>
                            <td>
                                <a href="#" class="btn-edit">Editar</a>
                                <a href="#" class="btn-delete">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Agropecuario</td>
                            <td>10 / 04 / 2022</td>
                            <td>Manuel</td>
                            <td>Individual</td>
                            <td>
                                <a href="#" class="btn-edit">Editar</a>
                                <a href="#" class="btn-delete">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
	</div>
</section>
<%- include('../partials/footer-admin'); %>