<section class="footer">
    <div class="container-footer">
        <div class="derechos-autor">Derechos de Autor 2021 - Colombia</div>
        <div class="legality">
            <a href="#">Aviso de Privacidad</a>
            <a href="#">Política de tratamiento de datos</a>
            <a href="#">Condiciones de Uso</a>
            <a href="#">Términos y condiciones</a>
        </div>
    </div>
</section>
</div>
<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/menu.js"></script>
</body>
</html>