<nav id="menu">
    <ul>
        <li>
            <a href="#" class="bt-close"><span class="icon-cross"></span></a>
        </li>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="#">Opción</a>
        </li>
        <li>
            <a href="#">Opción</a>
        </li>
    </ul>
</nav>