<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="css/pop-up.css">
    <title>SENA</title>
</head>
<body>
    <div class="content-header">
        <%- include('./partials/header-main'); %>
    </div>
    <div class="main-contenedor">
        <section class="element-section">
            <div class="element-background-overlay"></div>
            <div class="content-element-header-info">
                <div class="element-pading-section">
                    <div class="element-info-section">
                        <div class="info-title-section">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                        <div class="info-subtitle-section">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                        <div class="info-button-section">
                            <button class="button-info-section" id="OpenLogin">
                            Iniciar Sesi칩n
                        </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wabe" style="overflow: hidden">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
                <path
                    d="M-0.33,91.08 C145.26,104.90 293.11,19.04 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff"
                ></path>
            </svg>
            </div>
        </section>
        <section class="body-info-section">
            <div class="contnet-section-info">
                <div class="full-container">
                    <h1 class="h-title">Lorem, ipsum dolor.</h1>
                    <hr class="separador-text">
                    <p class="body-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nisi quasi consequuntur exercitationem blanditiis, cum veritatis in labore natus laboriosam nostrum atque dolorum voluptas incidunt nobis ipsa enim repellat odit vitae
                        omnis culpa reiciendis? Atque doloribus iure, in accusantium doloremque quibusdam impedit animi fugit deleniti natus delectus magni? Consectetur eos repellendus perferendis.!</p>
                </div>
            </div>
        </section>
        <section class="body-info-section"></section>
        <div class="popup-wrapper">
            <div class="popup">
                <div class="popup-close">x</div>
                <div class="popup-content">
                    <h3>Login</h3>
                    <div class="wrapper-form-data">
                        <div class="input-data">
                            <input type="text" id='user' size="40" maxlength="50" required="">
                            <div class="underline">
                            </div>
                            <label>Usuario</label>
                        </div>
                    </div>
                    <div class="wrapper-form-data">
                        <div class="input-data">
                            <input type="password" id="password" size="40" maxlength="50" required="">
                            <div class="underline"></div>
                            <label>Contrase침a</label>
                        </div>
                    </div>
                    <div id="error-message"></div>
                    <button id="btnSession">Iniciar Sesi칩n</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/menu.js"></script>
<script src="js/pop-up.js"></script>
<script>
    let btnSession = document.getElementById("btnSession");
    btnSession.addEventListener("click", ()=> {
        let user = document.getElementById("user").value;
        let password = document.getElementById("password").value;
        let data =  { user, password }
        if(!validateFields(data)) return;
        let url = 'http://localhost:3000/auth/login';
        let config = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        }
        fetch(url, config)
        .then(data => {return data.json()})
        .then(res => {
            if(res.status == 'error') return createErrorMessage();
            window.location.href = "admin";
        })
        .catch(err => {
            console.log(err);
        })
    })
    
    function validateFields(data){
        if(!data.user) {
            return user.focus();
        }
        if(!data.password) {
            return password.focus();
        }
        return true;
    }
    function createErrorMessage(){
        let errorDiv = document.getElementById('error-message');
        let paddingDiv = document.createElement('div');
        let dangerSpan = document.createElement('span');
        let errorMSG = document.createTextNode('Usuario o contrase침a incorrecta')
        
        dangerSpan.setAttribute('class', 'danger-span')
        dangerSpan.appendChild(errorMSG);

        paddingDiv.appendChild(dangerSpan);
        paddingDiv.setAttribute('class', 'padding-wrapper')
        paddingDiv.setAttribute('id', 'wrong-data');
        
        errorDiv.innerHTML = '';
        errorDiv.appendChild(paddingDiv);
    }
</script>