<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<section class="body-info-section">
    <link rel="stylesheet" href="../css/produccionUp.css">
	<div class="content-secton-info">
		<h1>GASTRONOMIA</h1>
			
	</div>
</section>
<!-- <%- include('./partials/footer'); %> -->