<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="css/pop-up.css">
    <title>SENA</title>
</head>
<body>
    <div class="content-header">
        <%- include('./partials/header-main'); %>
    </div>
    <div class="main-contenedor">
        <div class="contenedorReservar">
            <link rel="stylesheet" href="css/reservas.css">
            <div class="info_pdto">
                <div class="contPdt">
                    <img  class="imagen-pdto" src="https://picsum.photos/150/150?random" width="300px" height="300px" alt="image">
                    <label class="NombrePdt"> Nombre pdto</label>
                </div>
                <div class="descPdto">
                    <div class="describirPdt">
                        <label class="Valor-Pdto">$42.000</label>
                        <label class="describir">Lorem ipsum dolor sit amet consectetur,Lorem ipsum dolor sit </label>
                        <label class="stock">Stock:</label>
                        <label class="numero">500</label>
                        <label class="Cantidad">Cantidad: </label>
                        <label class="Cantidad-Pdto">1</label>
                    </div>
                </div>
            </div>
            <form class="formReservas" action="/RegistrarCompra">
                <div class="form-Reservas">
                    <div class="reserva">
                        <h1 class="tituloRese">Reserva</h1>
                    </div>
                    <div class="borderRese">
                        <div class="ro-box">
                            <div class="nombrePdtRese" id="name" name="Nombre">Nombre del producto</div>
                            <label class="fecha" id="date"></label>
                        </div>
                    <div class="btn-cantidad">
                        <label class="cant">Cantidad</label>
                        <input type="button" value="+" class="btn1" onclick="Aumentar();">
                        <button class="btn2">
                            <span id="Valor">0</span>
                        </button>
                        <input type="button" value="-" class="btn3" onclick="Disminuir();">                   
                        <label class="precio" id="total"><span class="valorTotal">0</span></label>
                        <label class="estado">Estado: </label>
                        <label class="reserva">Reserva</label>
                        <label class="persona" name="fk_persona"></label>

                    </div>
                      <button class="btn btn-primary" onclick="RegistrarInfo();">Registrar</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>

<script src="js/jquery-3.2.1.js"></script>
<script src="js/menu.js"></script>
<script src="js/pop-up.js"></script>
<!-- <script>
    function RegistrarInfo(){
        
</script> -->
<script>
    let btnSession = document.getElementById("btnSession");
    btnSession.addEventListener("click", ()=> {
        let user = document.getElementById("user").value;
        let password = document.getElementById("password").value;
        let data =  { user, password }
        if(!validateFields(data)) return;
        let url = 'http://localhost:3000/auth/login';
        let config = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        }
        fetch(url, config)
        .then(data => {return data.text()})
        .then(res => {
            if(res.status == 'error') return createErrorMessage();
            window.location.href = "admin";
        })
        .catch(err => {
            console.log(err);
        })
    })
    
    function validateFields(data){
        if(!data.user) {
            return user.focus();
        }
        if(!data.password) {
            return password.focus();
        }
        return true;
    }
    function createErrorMessage(){
        let errorDiv = document.getElementById('error-message');
        let paddingDiv = document.createElement('div');
        let dangerSpan = document.createElement('span');
        let errorMSG = document.createTextNode('Usuario o contraseña incorrecta')
        
        dangerSpan.setAttribute('class', 'danger-span')
        dangerSpan.appendChild(errorMSG);

        paddingDiv.appendChild(dangerSpan);
        paddingDiv.setAttribute('class', 'padding-wrapper')
        paddingDiv.setAttribute('id', 'wrong-data');
        
        errorDiv.innerHTML = '';
        errorDiv.appendChild(paddingDiv);
    }

    
</script>
<script src="js/reserva.js"></script> -->