<%- include('./partials/head'); %>
    <%- include('./partials/header'); %>
        <section class="body-info-section">
            <link rel="stylesheet" href="../css/modulo-venta.css">
            <link rel="stylesheet" href="path/to/css/smart-forms.css">
            <link rel="stylesheet" href="path/to/css/font-awesome.min.css">
            <div class="content-secton-info">
                <div class="full-container">
                    <div class="breadcrumb">
                        <a href="store" class="go-home">Volver al inicio</a> | <a href="ud">Agroindustria</a> > <a href="categoria">Alimentos</a>
                    </div>
                    <div class="buy-box">
                        <div class="prod-cart">
                            <div class="card-prod">
                                <div><img class="img-prods" src="https://picsum.photos/150/150?random" alt="image"></div>
                                <div>
                                    <div class="name">Tomate premium SENA</div>
                                </div>
                                <div>
                                    <div><input type="number" name="cantidad" id="cantidad2" placeholder="1234..."></div>
                                </div>
                            </div>
                            <div class="product-description">
                                <div class="description-box">
                                    <div class="price">$42.000</div>
                                    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea sit repellendus dolorum numquam, nesciunt tempora laudantium provident doloribus qui placeat officia, debitis, incidunt animi natus.</div>
                                    <div class="stock">
                                        <h3>Stock disponible</h3>
                                        <div class="desc">
                                            Cantidad: <span>1 Unidad</span> <br> Punto de venta: <span>Opción 1 - Opción 2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card-prod">
                                <div><img class="img-prods" src="https://picsum.photos/150/150?random" alt="image"></div>
                                <div>
                                    <div>Producto</div>
                                    <div> Precio Unidad: $ 120.000</div>
                                </div>
                                <div>
                                    <div><input type="number" name="cantidad" id="cantidad2" placeholder="1234..."></div>
                                    <div><a title="Eliminar este producto" href="/eliminarProdCart">Reservar</a></div>
                                </div>
                            </div>
                            <div class="card-prod">
                                <div><img class="img-prods" src="https://picsum.photos/150/150?random" alt="image"></div>
                                <div>
                                    <div>Producto</div>
                                    <div> Precio Unidad: $ 120.000</div>
                                </div>
                                <div>
                                    <div><input type="number" name="cantidad" id="cantidad2" placeholder="1234..."></div>
                                    <div><a title="Eliminar este producto" href="/eliminarProdCart">Reservar</a></div>
                                </div>
                            </div> -->
                        </div>
                        <div class="cart-tb">
                            <div class="encabezado">Reservas</div>
                            <input class="InfoPdto" type="text" placeholder="Unidad productiva"><br>
                            <input class="InfoPdto" type="text" placeholder="Nombre del producto"><br>
                            <div class="cantidadPdto">N° de productos <br>
                                <button id="aumentar" onclick="aumentar();"> + </button>
                                <input class="botonCantidad" type="text" id="cantidad" value="0">
                                <button id="disminuir" onclick="disminuir();"> − </button>
                                <label id="valorUnitario">COP <span class="valorTotal"> 85.000</span></label><br><br>
                                <label> Fecha límite <input type="date"></label><br><br> Punto de venta <select>
                                    <option value="">Opción 1</option>
                                    <option value="">Opcion 2</option>
                                </select><br><br>
                            </div>

                            <div><input type="button" value="Confirmar reserva"></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <%- include('./partials/footer'); %>

            <script>
                function aumentar() {
                    if (inicio <= 9) {
                        cantidad = document.getElementById('cantidad').value = ++inicio;
                        document.getElementById("total").innerHTML = cantidad;
                    }
                    calcularTotal();
                }

                function disminuir() {
                    if (inicio >= 1) {
                        cantidad = document.getElementById('cantidad').value = --inicio;
                        document.getElementById("total").innerHTML = cantidad;
                        document.getElementById("multiplicar").innerHTML = formatear.format(parseInt(cantidad * valorTotal));
                    }
                }

                let inicio = 0;
                let cantidad = "";

                let valorTotal = 120000;

                function calcularTotal() {
                    let valorUnidad = document.getElementById("valorUnitario").innerHTML;
                    let cantidadElementos = document.getElementById("total").innerHTML;
                    let valorCompra = valorUnidad * cantidadElementos;
                    document.getElementById("multiplicar").innerHTML = valorCompra;

                    let formatear = new Intl.NumberFormat('es-Es');
                }
            </script>