.mt-1{
    margin-top: 10px;
}
.table-admin{
    width: 100%;
}
.table-admin a{
    text-decoration: none;
    color: #7c7c7c;
    font-size: 1.2em;
}
.table-admin .option{
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0;
    display: flex;
    border-bottom: 1px solid rgb(87, 163, 25);
    transition: all 0.5s;
}
.table-admin .option:hover{
    box-shadow: 0px 0px 10px rgb(53, 53, 53);
}
.table-admin .option .option-logo{
    width: 25px;
    height: 25px;
    background-color: rgb(87, 163, 25);
}
.table-admin .option .titulo{
    margin: 0 10px;
}

.table-info{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.table-info thead th{
    background-color: rgb(87, 163, 25);
    color: #fff;
    padding: 10px 5px;
}
.table-info tbody tr td{
    padding: 10px 5px;
}
a.btn-edit{
    padding: 10px;
    color: white;
    background-color: rgb(64, 192, 224);
    border-radius: 5px;
}
a.btn-delete{
    padding: 10px;
    color: white;
    background-color: rgb(224, 64, 64);
    border-radius: 5px;
}
/* ---------- */
.border-box{
    padding: 1rem 1.2rem;
    border: solid 1px #dbdbdb;
}
.row-box{
    display: grid;
    grid-gap: .8rem;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
}
.form-control{
    display: block;
    width: 100%;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: grey;
    font-size: 1rem;
    border: 0;    
    border: 1px solid #fff;
}
select.form-control{
    border-radius: 0;
    height: 42px;
    border:2px solid silver;
}
.form-control:hover{
    box-shadow: 0;
}
.design-1{
    border: 2px solid silver;
}

/* ---------------------- */
.padding-wrapper {
    padding: 10px;
}
.wrapper-form-data {
	background: #fff;
    width: 100%;
	display: inline-flex;
    margin: 10px 0;
}
.wrapper-form-data .input-data {
	height: 40px;
	width: 100%;
	position: relative;
}
.wrapper-form-data .input-data input {
	height: 100%;
	width: 100%;
	border: none;
	font-size: 17px;
	border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label {
	transform: translateY(-25px);
	font-size: 15px;
}
.wrapper-form-data .input-data label {
	position: absolute;
	bottom: 10px;
	left: 0;
	color: grey;
	pointer-events: none;
	transition: all 0.3s ease;
}
.input-data .underline {
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
}
.input-data .underline:before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
	transform: scaleX(1);
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}