.content_form_puntoventa{
    display: grid;
    gap: 10px;
    padding: 12px;
    grid-template: "nombrepunto  contentdirepunvent " auto
                   "tittlesepuntventa tittleperencarga " 20px
                   "direccionpunto contentperpuntventa " auto
                   "boton boton" 50px/ 1fr 1fr;
}
.nombrepunvnt{
    grid-area: nombrepunto;
}
.direccionpunvnt{
    grid-area: direccionpunto;
}
.label_sedepuntventa{
    grid-area: tittlesepuntventa;
}
.direccionpunvnt{
    grid-area: contentdirepunvent;
}
.label_persEncar{
    grid-area: tittleperencarga;
}
.personapuntventa{
    grid-area: contentperpuntventa;
}
.label_sedepuntventa, .label_persEncar, .boton_registro{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
}
.boton_registro{
    background-color: rgb(83, 159, 20);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    grid-area: boton;
}