input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }



#td{
    background: rgb(234, 229, 229);
    font-size: 15px;
    
}

link-actualizar, .link-actualizar {
    border: none;
    background: rgb(224 64 64);
    border-radius: 5px;
    width: 90px;
    color: white;
}