* {
	margin: 0;
	padding: 0;
}
/* =========HEADER=========== */
header > nav,
header > nav ul,
header > nav ul li {
	height: 80px;
}
header {
	height: 50px;
	display: block;
	font-family: 'Roboto Condensed';
	margin: auto;
	position: relative;
}
header > nav {
	width: 80%;
	max-width: 380px;
	height: calc(100% - 45px);
	left: -100%;
	position: fixed;
	top: 140px;
	z-index: 80;
	background: rgb(94, 179, 25);
	border-radius: 0 0 10px 0;
	overflow-y: scroll;
}
header > nav ul {
	padding-bottom: 70px;
	display: block;
	height: auto;
}
header > nav ul li {
	display: block;
	float: none;
	height: 70px;
	padding: 0 10px;
	align-items: center;
}
header > nav ul li:first-child {
	height: 35px;
	border-bottom: 2px solid #fff;
	margin-bottom: 20px;
}
header > nav ul li:first-child a {
	display: block;
	padding: 10px 5px;
	text-align: right;
}
header > nav ul li a {
	color: #fff;
	padding: 5px 20px;
	height: calc(100% - 10px);
	display: block;
	text-decoration: none;
	font-size: 1.1em;
	transition: all 0.2s;
}

header > nav ul li span {
	margin-right: 10px;
}

header > nav ul li a:hover {
	color: #fff;
	text-shadow: 0 0 5px #fff;
}
/* ======HEADER NAV SCROLL BAR===== */
header nav::-webkit-scrollbar {
	-webkit-appearance: none;
}
header nav::-webkit-scrollbar:vertical {
	width:10px;
}
header nav::-webkit-scrollbar-button:increment,header nav::-webkit-scrollbar-button {
	display: none;
} 
header nav::-webkit-scrollbar:horizontal {
	height: 10px;
}
header nav::-webkit-scrollbar-thumb {
	background-color: rgb(90, 170, 25);
	border-radius: 5px;
	border: 2px solid rgb(255, 255, 255);
}
header nav::-webkit-scrollbar-track {
	border-radius: 10px;  
}
/* ====HEADER NAVBAR */
#menu {transition: all 0.3s;}
.open-close {display: block;}
.mostrar {
	left: 0;
	margin-left: 0;
	transition: all 0.3s;
}
.menu_bar {
	display: block;
	width: 50px;
}
.menu_bar .bt-menu {
	height: 30px;
	display: block;
	padding: 10px;
	color: rgb(235, 235, 235);
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	align-items: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	z-index: 120;
}
.menu_bar .bt-menu .icon-align {
	float: left;
	display: flex;
	height: 100%;
	align-items: center;
}
/* ====HEADER SENA ========= */
.header-page{
	width: 100%;
	height: 90px;
	z-index: 200;
	position: relative;
	display: grid;
    grid-template-columns: 80px auto 300px;
    grid-template-areas:
    "logo empresa_nombre empresa_logo";
}
.header-page > .header-logo{
	width: 70px;
	height: 70px;
	background-image: url('../img/logos/logoSena.png');
    margin: 10px;
	background-size: cover;
    grid-area: logo;
}
.header-page > .empresa-nombre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-page > .right-logo{
    width: 300px;
	height: 70px;
	background-image: url('../img/logos/centro_user.png');
    margin: 10px;
	background-size: cover;
    grid-area: empresa_logo;
}
/* ====HEADER CONTAINER==== */
.content-header {
	top: 0;
	padding: 0 100px;
	width: 100%;
	padding: 0 20px;
	position: fixed;
	display: block;
	z-index: 200;
	background: 
	linear-gradient(to bottom, #fff 90px, rgb(77, 146, 20) 1px,
	rgb(87, 167, 21), rgb(77, 146, 20)); 
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-sizing: border-box;
	box-shadow: 1px 1px 10px rgb(121, 121, 121);
	-webkit-box-shadow: 1px 1px 10px rgb(121, 121, 121);
	-moz-box-shadow: 2px 2px 5px #999;
}
/* ========PRINCIAPAL CONTIANER========= */
.main-contenedor {
	margin-top: 140px;
	min-height: calc(100vh - (140px + 95px));
}
/* SPAN */
.danger-span {
	text-shadow: 0 0 10px #ffeff2;
	font-weight: bold;
	color: #ce002d;
}
/* UNIDAD PRODUCTIVA */
.ud-container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.ud-container .image img{
	width: 100%;
}
.ud-container .description{
	padding: 20px;
	margin-top: .5em;	
	text-align: justify;
	font-size: 1em;
	line-height: 1.5em;
}
/* UNIDADES PRODUCTIVAS */
.uds-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}
.uds-container a{
	text-decoration: none;
	border-radius: 5px;
	padding: 20px;
	color: rgb(66, 66, 66);
	box-shadow: 0px 0px 1px rgb(121, 121, 121);
	transition: all .3s;
}
.uds-container a:hover{
	box-shadow: 0px 0px 5px rgb(121, 121, 121);
}
.uds-container .name {
	font-weight: 900;
	font-size: 1.5em;
    color: rgb(77, 146, 20);
}
.uds-container .imagen img{
	width: 100%;
}
/* BUY */
.buy-box{
	display: flex;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	background-color: #F5F5F5;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 1px rgb(121, 121, 121);
	-moz-box-shadow: 1px 1px 3px #999;
}
.product-image{
	background: #fff;
	width: 100%;
	padding: 10px;
}
.product-image .container-image{
	margin: 10px auto;
	width: 80%;
}
.product-image .container-image img{
	width: 100%;
	max-height: 100%;
}
.product-description{
	width: 100%;
	background: #fff;
}
.product-description .description-box{
	color:rgb(54, 54, 54);
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 3px rgb(121, 121, 121);
	-moz-box-shadow: 1px 1px 3px #999;
}
.product-description .description-box .name{
	font-weight: bold;
	font-size: 1.5em;
	line-height: 3em;
}
.product-description .description-box .price{
	font-size: 2em;
	line-height: 1.5em;
}
.product-description .description-box .description{
	margin-top: .5em;	
	text-align: justify;
	font-size: 1em;
	line-height: 1.5em;
}
.product-description .description-box .stock{
	margin-top: .7em;	
	line-height: 1.5em;
}
.product-description .description-box .stock h3{
	font-size: 1.1em;
}
.product-description .description-box .stock .desc{
	margin: 10px 0;
}
.product-description .description-box .stock .desc span{
	font-weight: bold;
}
.btn{
	width: 100%;
	margin: 10px 0;
	font-size: 1em;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	padding: 10px 10px;
	transition: all 0.5s;
	cursor: pointer;
}
.btn:hover{
	opacity: .5;
}
.btn-block{
	width: 100%;
}
.btn-primary{
	color: white;
	background-color: #40a3ff;
}
.btn-secondary{
	color: #40a3ff;
	background-color: #d5ebff;
}
/* Breadcrumb */
.breadcrumb{
	color: #5f5f5f;
	margin-top: 5px;
	margin-bottom: 15px;
}
.breadcrumb .go-home {
	color: rgb(22, 22, 22);
}
.breadcrumb a{
	text-decoration: none;
	color: #4f84ff;
}


.limiter-width-page{
	max-width: 1920px;
	margin: auto;
}
.mt-3{
	margin-top: 30px;
}
.products-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, 180px);
	grid-gap: 10px;
}
.products-container a{
	text-decoration: none;
	color: #555;
}
.item-container{
	border-radius: 2px;
	background-color: rgb(226, 226, 226);
	box-shadow: px 0px 8px rgb(235, 235, 235);
	-webkit-box-shadow: 0px 0px 8px rgb(235, 235, 235);
	-moz-box-shadow: 0px 0px 0px rgb(235, 235, 235);
}
.item-container .image-container{
	display: flex;
	align-items: center;
    justify-content: center;
	height: 200px;
	border-bottom: 2px solid #fff;
	width: 100%;
}
.item-container .image-container img{
	height: 100%;
	width: 100%;
}
.item-container .info-container{
	padding: 10px;
	line-height: 1.5em;
}
.item-container .price-container{
	font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
	color: rgb(54, 54, 54);
	font-size: 1.2em;
	font-weight: 0;
}
.h-title{
    display: block;
	font-size: 2em;
	font-weight: 900;
    color: rgb(77, 146, 20);
}
.body-text{
    font-size: 1.2em;
    line-height: 1.3em;
    word-spacing: .8em;
    color: rgb(80, 80, 80);
}
section,
div {
	font-family: 'Meera Inimai';
}
/* MENÚ VISIBLE */
.menu-visible{
	height: 50px;
	display: flex;
	align-items: center;
}
.menu-visible nav{
	width: 100%;
}
.menu-visible nav ul{
	overflow: hidden;
	list-style: none;
	display: flex;
	float: right;
	margin-bottom: 0;
}
.menu-visible nav ul li{
	height: 50px;
	display: inline-flex;
	padding: 0 20px;
	align-items: center;
}
.menu-visible nav ul li a{
	color: rgb(235, 235, 235);
	display: block;
	text-decoration: none;
	font-size: 1.1em;
	transition: all 0.4s;
}
.menu-visible nav ul li a:hover{
	text-shadow: 0px 0px 4px rgb(0, 0, 0);
}
.menu-visible nav ul li .search{
	background-color: white;
	padding-left: 5px;
}
.menu-visible nav ul li .search input{
	border: none;
	height: 100%;
}
.menu-visible nav ul li .search button{
	margin: 0;
	padding: 5px;
	border: none;
	color: white;
	background-color: #FF8F00;
}
.menu-visible nav ul li .search button span{	
	font-size: 1.05em;
}
.nabvar{
	width: 100%;
	height: 40px;
}

.logo-img {
	padding: 8px;
}
.wabe {
	position: absolute;
	bottom: -10px;
	width: 100%;
	z-index: 100;
	height: 200px;
}
/* CABALLOS CONTAINER */
.separador-text{
	width: 20%;
    height: 3px;
    background: rgb(94, 179, 25);
    border: none;
    border-radius: 5px;
    min-width: 40px;
    margin-bottom: 20px;
}

/* SECCIONES */
.element-section {
	background-image: url('../img/backgrounds/vegetables-1920-blur.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
	font-family: 'Source Sans Pro';
	min-height: 400px;
}
.element-background-overlay {
	background-color: transparent;
	background: radial-gradient(#ffd356 60%, #5f5f5f);
	backdrop-filter: blur(8px);
	position: absolute;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.element-pading-section {
	padding: 150px 80px 0 80px;
	display: flex;
}
.content-element-header-info {
	max-width: 1440px;
	margin: auto;
}
.element-info-section {
	padding: 0 50px 50px 0;
	position: relative;
	margin-bottom: 100px;
	z-index: 130;
}
.element-info-section .info-title-section {
	font-size: 4em;
	text-shadow: rgb(0, 0, 0) 0 0 10px;
	color: rgb(255, 255, 255);
}
.element-info-section .info-subtitle-section {
	font-size: 1.5em;
	color: white;
}
.element-info-section .info-button-section {
	margin-top: 70px;
    margin-bottom: 50px;
}

.button-info-section {
	width: 350px;
	height: 50px;
	background: rgb(94, 179, 25);
	color: white;
	font-size: 1em;
	font-family: 'Source Sans Pro';
	line-height: 1.44em;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	bottom: 50px;
	transition: all 0.2s;
    font-weight: bold;
}
.button-info-section:hover {
	background: rgb(77, 146, 20);
	cursor: pointer;
}
/* footer */
.element-section-footer {
	padding: 20px 40px;
	background: #FF8F00;
	font-family: 'Meera Inimai';
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu {
	background: #555;
	width: 100%;
	transition: all 0.5s;
}
/* CUERPO  */
.body-info-section {
	padding: 80px 100px;
}
.contnet-section-info {
	max-width: 1360px;
	margin: 20px auto;
}

/* CONTENEDOR */
.full-container {
	display: block;
}
/* FOOTER */
.footer {
	padding: 20px 50px;
	background: #5f5f5f;
	color: #fff;
	display: block;
	font-size: 0.8em;
}

.legality a {
	text-decoration: none;
	color: #fff;
	padding: 0;
	margin-right: 10px;
}
.legality {
	margin-left: auto;
}
.derechos-autor,
.legality {
	display: block;
}
input,
button,
select {
	outline: none;
}

@media (min-width: 1024px) {
	/* BLOQUES CONTENEDORES FOOTER */
	.container-section-blocks {
		display: inline-block;
		margin-left: auto;
		width: 70%;
	}
	/* BLOQUE ÚNICO */
	.rotate-item {
		display: none;
	}
	.submenu-btn {
		border-radius: 5px 5px 0 0;
		font-weight: bold;
	}
	/* FOOTER */
	.footer {
		box-sizing: border-box;
		height: 55px;
		padding: 20px 50px;
		background: #5f5f5f;
		color: #fff;
		display: flex;
		font-size: 0.8em;
	}
	.container-footer {
		display: flex;
		width: 100%;
		max-width: 1440px;
		margin: auto;
	}
	.legality a {
		text-decoration: none;
		color: #fff;
		padding: 0 10px;
	}
	.legality {
		margin-left: auto;
	}
	.derechos-autor,
	.legality {
		display: inline-block;
	}
}
@media (max-width: 1000px) {
	.element-section {
		height: auto;
	}
}
/* PANTALLAS GRANDES */
@media screen and (max-width: 4850px) {
	/* Secciones */
	.element-pading-section,
	.body-info-section {
		padding: 10px 40px 30px 60px;
	}
	.element-info-section {
		padding: 20px 0;
		margin-bottom: 50px;
	}
	.element-info-section .button-info-section {
		width: 230px;
		bottom: 30px;
	}
}
/* PANTALLAS PEQUEÑAS */
@media screen and (max-width: 490px) {
	.wabe {
		height: 100px;
	}
	.element-info-section .info-title-section {
		font-size: 2.5em;
		line-height: 1em;
	}
	.element-info-section .info-subtitle-section {
		font-size: 1.8em;
		line-height: 1em;
	}
	.element-pading-section,
	.body-info-section {
		padding: 35px 20px;
	}
	.element-info-section {
		padding: 30% 0 0 0;
	}
	.body-info-section{
		padding:0;
	}
	.item-list{
		grid-template-columns: repeat(2, 1fr);
	}
}